/* Universal Selectors */
* {
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(18, 59, 129);
    background-color: rgb(238, 238, 247)
}
/* Element Selectors */
.title {
    border: solid rgb(44, 44, 44);
    background-color: rgb(44, 44, 44);
}

main {
    background-color: rgb(238, 238, 247);
}

article {
    position: absolute;
    margin-left: 326px;
    margin-top: -182px;
}

h1 {
    font-size: 50px;
    border: 3px solid rgb(134, 202, 214);
    background-color: rgb(134, 202, 214);
    color: rgb(44, 44, 44);
    position: relative;
    width: 27%;
    text-align: center;
}

h2{
    border: 3px solid rgb(134, 202, 214);
    background-color: rgb(134, 202, 214);
    color: rgb(44, 44, 44);
    font-size: 28px;
    position: absolute;
    display: inline;
    width: 21%;
    height: 33px;
    text-align: center;
    margin-left: 811px;
    margin-top: 225px;
}    

aside {
    position: absolute;
    color:  rgb(38, 38, 77);
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer ul {
list-style-type: none;
float: right;
display: flex;
color:  rgb(134, 202, 214);
font-size: 20px;
font-weight: bold;
text-decoration: underline;
padding: 8px;
}

/* Class Selectors */


nav ul {
background-color: rgb(44, 44, 44);
list-style-type: none;
float: right;
display: flex;
margin: -110px 30px;
}

.nav-item {
    background-color: rgb(44, 44, 44);
    color: rgb(134, 202, 214);
    font-size: 20px;
    font-weight: bold;
    display:block;
    text-decoration: underline;
    padding: 8px;
}

.hero-image {
    background-image: url(./images/fence.jpeg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 500px;
    margin-left: 318px;
}

/* Id Selectors */
#about {
    border-right: 3px solid rgb(18, 59, 129);
}
#work {
    border-right: 3px solid rgb(18, 59, 129);
}
#contact {
    border-right: 3px solid rgb(18, 59, 129);
}

