/* Universal Selectors */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 33, 68);
}

/* Element Selectors */
/* Nav Bar Styles */
nav ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}

nav ul li {
    border-bottom: 3px solid rgb(130, 206, 206);
    margin: 3px;
    padding: 2px;
}

nav ul li a {
    color: rgb(130, 206, 206);
}

header {
    background-color: rgb(53, 53, 53);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header h1 {
    background-color: rgb(130, 206, 206);
    color: rgb(53, 53, 53);
    padding-left: 45px;
    padding-right: 40px;
}

body {
    background-color: rgb(224, 247, 255);
}

/* Class Selectors */

.section-content ul {
    display: flex;
    list-style-type: none;

}

.section-content li {
    margin: 5px;
    padding: 10px;
    border-bottom: 3px solid rgb(15, 23, 131);
}



h2.hero-text {
    position: absolute;
    bottom: 0;
    right: 30px;
    background-color: rgb(130, 206, 206);
}


.hero-image {
    background-image: url(./images/fence.jpeg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* My photo */

.my-photo {
    position: absolute;
    width: 14%;
    left: 15px;
    bottom: 25px;
}

.section-container {
    display: flex;
    margin: 15px;
}

.section-header {
    width: 200px;
    text-align: right;
    font-size: 28px;
    padding-right: 15px;
}

.section-content {
    border-left: 3px solid rgb(15, 15, 129);
    width: 70%;
    padding-left: 20px;
}

/* Gallery Styles */

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 860px;
}

.gallery-label {
    background-color: rgb(130, 206, 206);
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding: 12px;
}

.gallery-card {
    position: relative;
    border: 3px solid rgb(130, 206, 206);
    width: 421px;
}

.gallery-main-text {
    margin: 0;
}

.gallery-sub-text {
    margin: 0;
}

.surf-report {
    flex: 2 0 840px;
}

.gallery-image {
    width: 100%;
}

/* Pseudo-code for gallery images */

.gallery-image:hover {
    opacity: 0.5;
}

/* Tablets */
@media screen and (max-width: 992px) {
    .gallery-card {
        width: 50%;
    }

    /* Large Smartphones */
    @media screen and (max-width: 768px) {
        .gallery-card {
            width: 80%;
        }

        /* Small Smartphones */
        @media screen and (max-width: 576px) {
            .gallery-card {
                width: 100%;

            }