/* Universal Selectors */
* {
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(18, 59, 129);
    background-color: rgb(238, 238, 247)
}
/* Element Selectors */
.title {
    border: solid rgb(44, 44, 44);
    background-color: rgb(44, 44, 44);
}

main {
    background-color: rgb(238, 238, 247);
}

article {
    position: absolute;
    margin-left: 280px;
    margin-top: 300px;
}

h1 {
    font-size: 50px;
    border: 3px solid rgb(134, 202, 214);
    background-color: rgb(134, 202, 214);
    color: rgb(44, 44, 44);
    position: relative;
    width: 25%;
    text-align: center;
}

h2{
    border: 3px solid rgb(134, 202, 214);
    background-color: rgb(134, 202, 214);
    color: rgb(44, 44, 44);
    font-size: 28px;
    position: relative;
    width: 21%;
    height: 33px;
    float: right;
    margin-right: 75px;
    margin-top: 231px;
    text-align: center;
}    

aside {
    position: absolute;
    display: flex;
    flex-direction: column;
}

/* Class Selectors */


nav ul {
background-color: rgb(44, 44, 44);
list-style-type: none;
float: right;
display: flex;
margin: -110px 30px;
}

.nav-item {
    background-color: rgb(44, 44, 44);
    color: rgb(134, 202, 214);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    display: block;
    padding: 8px;
}

.hero-image {
    background-image: url(./images/fence.jpeg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 403px;
    margin-left: 318px;
}
/* Id Selectors */


