/* Universal Selectors */
* {
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(18, 59, 129);
}

nav ul {
    list-style-type: none;
    display: flex;      
}

a {
    text-decoration: none;
}

nav ul li {
    color: blue;
    border-bottom: 3px solid blue;
    margin: 3px;
    padding: 2px;
    
}

header {
    background-color: grey;
    display: flex;
    align-items:baseline;
    justify-content:space-between;
    outline: 3px solid tomato;
}

header h1 {
    background-color: rgb(69, 185, 185);
    outline: 1px solid blue;
    padding-left:40px;
}

header ul {
    outline: 1px solid green;
}

h2.hero-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:rgb(69, 185, 185);
}

.hero-image {
    background-image: url(./images/fence.jpeg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.section-container {
display: flex;
margin: 15px;
}

.section-header {
width: 200px;
text-align: right;
font-size: 28px;
padding-right: 15px;
}

.section-content {
border-left: 3px solid blue;
width: 70%;
padding-left: 20px;
}

.gallery {
display: flex;
flex-wrap: wrap;
width: 850px;
}

.gallery-label {
    background-color: rgb(69, 185, 185);
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding: 12px;
}

.gallery-card {
    flex: 1 0 425px;
    position: relative;
    border: 2px solid blue;
    width: 425px;
}

.gallery-main-text {
 margin: 0;
}

.gallery-sub-text {
margin: 0;
}

.surf-report {
    flex-grow: 2;
}

.gallery-image{
width: 100%;
}